.notification {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    transition: bottom 0.5s;
    animation-duration: 1s; // アニメーション時間を少し長くしてみました
}

.notification-enter,
.notification-exit {
    bottom: 20px;
    animation-name: bounce;
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }
    40% {
        transform: translateX(-50%) translateY(-15px); // -10pxから-30pxへ変更
    }
    60% {
        transform: translateX(-50%) translateY(-10px); // -5pxから-15pxへ変更
    }
}
