// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #f5f6f6;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #f5f6f6;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
        Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
    font-weight: 400;
}

nav {
    background-color: #55c501 !important;
    #Navber {
        .navbar-nav {
            .nav-item {
                // 投稿するボタンの背景を深緑にする
                #post-link {
                    background-color: #367e00;
                    border-radius: 5px;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}

// customized bootstrap button
$maincolor: #55c501;
.btn-primary {
    @include button-variant(
        $background: $maincolor,
        $border: $maincolor,
        $color: $white,
        $hover-background: lighten($maincolor, 10%),
        $hover-border: lighten($maincolor, 5%),
        $hover-color: darken($maincolor, 10%),
        $active-background: lighten($maincolor, 10%),
        $active-border: $maincolor,
        $active-color: darken($maincolor, 10%)
    );
}

// portfolio
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    width: 70%;
    height: 70vh;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
    margin-top: 40px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-box h2 {
    margin: 0;
    text-align: center;
    width: 100%;
}

.sub-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sub-content > div {
    flex: 1;
    text-align: left;
}

.sub-left-content {
    height: 100%;
}

.sub-right-content {
    height: 100%;
}

.font-cherry {
    font-family: "Cherry Bomb One", sans-serif;
}
