@import "../node_modules/bootstrap/scss/bootstrap";

// css
@import "./utli/header.scss";
@import "./utli/notification.scss";
@import "./pages/util.scss";
@import "./pages/profile.scss";
@import "./pages/photograph.scss";

html {
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #f5f6f6;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
        Hiragino Kaku Gothic ProN, "メイリオ", meiryo, sans-serif;
    font-weight: 400;
}

// customized bootstrap button
$maincolor: #55c501;
.btn-primary {
    @include button-variant(
        $background: $maincolor,
        $border: $maincolor,
        $color: $white,
        $hover-background: lighten($maincolor, 10%),
        $hover-border: lighten($maincolor, 5%),
        $hover-color: darken($maincolor, 10%),
        $active-background: lighten($maincolor, 10%),
        $active-border: $maincolor,
        $active-color: darken($maincolor, 10%)
    );
}
